.DS_Store
Thumbs.db
*.bak
*.bak.*
*.back.*
*.tmp
*.orig
*.rej
* - Copy.*
.hemttout/
releases/
@*/
*.pbo
*.bisign
*.bikey
!/keys/*.bikey
*.biprivatekey
*.hemttprivatekey
*.zip
*.7z
*.cache
*.log
*.pyc
__pycache__/
.venv/
.vscode/
!/.vscode/extensions.json
